# Secrets
.env
WebServer/.env

# Logs
WebServer/logs/

# Binaries
bin/

# OS/editor noise
.DS_Store
Thumbs.db
WebServer/static/images/*

WebServer/.vscode/
WebServer/logs/error.log
WebServer/logs/warning.log
WebServer/logs/info.log
